In [1]:
word = "word"
sentence = " This is a sentence ."
paragraph = """ This is a paragraph . It is made up of
multiple lines and sentences . """

In [4]:
counter = 100 # An integer assignment
miles = 1000.0 # A floating point
name = "Usman " # A string
print ( counter )
print ( miles )
print ( name )

100
1000.0
Usman

In [ ]:
var1 = 1
var2 = 10

In [6]:
str = "Hello World !"
print (str) # Prints complete string
print (str [0]) # Prints first character of the string
print (str [2:5]) # Prints characters starting from 3rd to 5th
print (str [2:]) # Prints string starting from 3rd character
print (str * 2) # Prints string two times
print (str + " TEST ") # Prints concatenated string

Hello World !
H
llo
llo World !
Hello World !Hello World !
Hello World ! TEST

In [7]:
list1 = ["physics", "chemistry", 1997 , 2000]
list2 = [1 , 2 , 3 , 4 , 5 , 6 , 7 ]
print (" list1 [0]: ", list1 [0])
print (" list2 [1:5]: ", list2 [1:5])

 list1 [0]:  physics
 list2 [1:5]:  [2, 3, 4, 5]

In [8]:
list = ["physics" , "chemistry" , 1997 , 2000]
print (" Value available at index 2 : ", list [2])
list [2] = 2001
print ("New value available at index 2 : ", list [2])

 Value available at index 2 :  1997
New value available at index 2 :  2001

In [9]:
list = ["physics", "chemistry", 1997 , 2000]
print ( list )
del list [2]
print (" After deleting value at index 2 : ", list )

['physics', 'chemistry', 1997, 2000]
 After deleting value at index 2 :  ['physics', 'chemistry', 2000]

In [10]:
tuple = ( "abcd" , 786 , 2.23 , "john" , 70.2 )
tinytuple = (123 , "john" )
print ( tuple ) # Prints complete tuple
print ( tuple [0]) # Prints first element of the tuple
print ( tuple [1:3]) # Prints elements starting from 2nd till 3rd
print ( tuple [2:]) # Prints elements starting from 3rd element
print ( tinytuple * 2) # Prints tuple two times
print ( tuple + tinytuple ) # Prints concatenated tuple

('abcd', 786, 2.23, 'john', 70.2)
abcd
(786, 2.23)
(2.23, 'john', 70.2)
(123, 'john', 123, 'john')
('abcd', 786, 2.23, 'john', 70.2, 123, 'john')

In [ ]:
tuple = ( "abcd", 786 , 2.23 , "john", 70.2 )
list = [ "abcd", 786 , 2.23 , "john", 70.2 ]
tuple [2] = 1000 # Invalid syntax with tuple
list [2] = 1000 # Valid syntax with list

In [11]:
tuple = ( "abcd" , 786 , 2.23 , "john" , 70.2 )
list = [ "abcd" , 786 , 2.23 , "john" , 70.2 ]
tuple [2] = 1000 # Invalid syntax with tuple
list [2] = 1000 # Valid syntax with list

TypeError: 'tuple' object does not support item assignment

In [12]:
var1 = 100
if var1:
    print ("1 - Got a true expression value ")
    print ( var1 )
    var2 = 0
if var2:
    print ("2 - Got a true expression value ")
    print ( var2 )
    print (" Good bye!")

1 - Got a true expression value
100

In [13]:
amount = int( input (" Enter amount : ") )
if amount <1000:
    discount = amount *0.05
    print (" Discount ", discount )
else :
    discount = amount *0.10
    print (" Discount ", discount )
    print ("Net payable :", amount - discount )

 Discount  1.0

In [14]:

amount = int( input (" Enter amount : ") )
if amount <1000:
    discount = amount *0.05
    print (" Discount ", discount )
elif amount <5000:
    discount = amount *0.10
    print (" Discount ", discount )
else :
    discount = amount *0.15
    print (" Discount ", discount )
    print ("Net payable :", amount - discount )

 Discount  3750.0
Net payable : 21250.0

In [15]:
count = 0
while ( count < 9) :
    print ("The count is:", count )
    count = count + 1
print (" Good bye!")

The count is: 0
The count is: 1
The count is: 2
The count is: 3
The count is: 4
The count is: 5
The count is: 6
The count is: 7
The count is: 8
 Good bye!

In [17]:
for var in range(5) :
    print ( var )

0
1
2
3
4

In [19]:
for letter in "Python": # traversal of a string sequence
    print ("Current Letter :", letter )
    print ()
fruits = ["banana", "apple", "mango"]
for fruit in fruits : # traversal of List sequence
    print ("Current fruit :", fruit )
print ("Good bye!")

Current Letter : P

Current Letter : y

Current Letter : t

Current Letter : h

Current Letter : o

Current Letter : n

Current fruit : banana
Current fruit : apple
Current fruit : mango
Good bye!